@tailwind base;
@tailwind components;
@tailwind utilities;


/* TODO: pick fonts */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 19, 51, 32;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 19, 51, 32;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(160deg, theme('colors.main-800'), theme('colors.main-900'));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-rgb);
}

* {
  scrollbar-gutter: stable;
  scrollbar-color: #B7C2BB rgb(var(--background-rgb));
}